# fly.toml app configuration file generated for bots-test-env on 2026-02-07T19:26:45+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bots-test-env'
primary_region = 'fra'

[build]

[[mounts]]
  source = 'my_app_data'
  destination = '/app/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
